<link rel='stylesheet' href='/stylesheets/calendars.css' />
<script type="text/javascript" charset="utf-8">
	var selectedList = new Array();
	$(function() {
		var d = new Date();
		
		for(var i=1;i<=12;i++) {
			$("select[name='fromMonth']").append(new Option(i,i));
			$("select[name='toMonth']").append(new Option(i,i));	
		}
		$("select[name='fromMonth']").val(d.getMonth()+1);
		$("select[name='toMonth']").val(d.getMonth()+1);
		
		for(var i=1;i<=31;i++) {
			$("select[name='fromDay']").append(new Option(i,i));
			$("select[name='toDay']").append(new Option(i,i));	
		}
		$("select[name='fromDay']").val(d.getDate());
		$("select[name='toDay']").val(d.getDate()+1);
		
		for(var i=2000;i<=2020;i++) {
			$("select[name='fromYear']").append(new Option(i,i));
			$("select[name='toYear']").append(new Option(i,i));	
		}
		$("select[name='fromYear']").val(d.getFullYear());
		$("select[name='toYear']").val(d.getFullYear());
		
		var ampm = [" AM", " PM"];
		var runningTime = 0;
		for(var i=0;i<2;i++) {
			$("select[name='fromHour']").append(new Option("12"+ampm[i],12*i));
			$("select[name='toHour']").append(new Option("12"+ampm[i],12*i));
			for(var j=1;j<=11;j++) {
				$("select[name='fromHour']").append(new Option(j+ampm[i],(12*i)+j));
				$("select[name='toHour']").append(new Option(j+ampm[i],(12*i)+j));	
			}
		}
		$("select[name='fromHour']").val(d.getHours());
		$("select[name='toHour']").val((d.getHours()+1)%24);

		$("#loading").hide();
		
		$("#calendarList li").click(function() {
			if (!$(this).hasClass("clicked")) {
				$(this).addClass("clicked");
				selectedList.push($(this).html());
			} else {
				$(this).removeClass("clicked");
				for(var i=selectedList.length-1; i>=0; i--) {
					if (selectedList[i] === $(this).html()) {
						selectedList.splice(i,1);
					}
				}
			}
			//console.log(selectedList);
		});
		
		// var dotCount = 0;
		// 
		// $("#continue").click(function() {
		// 	$("#continue").hide();
		// 	$("#loading").show();
		// 	window.setInterval(animateLoading(), 1000);
		// });	
	});
	
	function animateLoading() {
		var dot = ".";
		var newString = new Array(++dotCount).join(".");
		$("#loading span").html( newString ));
		dotCount = (dotCount+1)%4;
	}
	
</script>
<div id="calendars">
	<h1>Which calendars do you want to get events from?</h1>
	<form action="/googleEventFetch" method="post" accept-charset="utf-8">
		<ul id="calendarList">
			<% for(var i=0; i<list.length; i++) { %>
				<li><%= list[i].title %></li>
			<% } %>
		</ul>
		<div id="fromDate">
			From:
			<select name="fromMonth"></select>
			<select name="fromDay"></select>
			<select name="fromYear"></select>
			<select name="fromHour"></select>
		</div>
		<div id="toDate">
			To:
			<select name="toMonth"></select>
			<select name="toDay"></select>
			<select name="toYear"></select>
			<select name="toHour"></select>
		</div>
		
		
		<div id="continue" class="button"><p>continue...</p></div>
		<div id="loading" class="button"><p>loading<span></span></p></div>
	</form>

</div>