<link rel='stylesheet' href='/stylesheets/calendars.css' />
<script type='text/javascript' src='http://jquery-json.googlecode.com/files/jquery.json-2.2.min.js'></script>
<script type='text/javascript' src='/javascripts/calendars.js'></script>

<div id="calendars">
	<h1>Which calendars do you want to get events from?</h1>
	<form accept-charset="utf-8">
		<ul id="calendarList">
			<% for(var i=0; i<list.length; i++) { %>
				<li><%= list[i].title %></li>
			<% } %>
		</ul>
		<div id="fromDate">
			From:
			<select name="fromMonth"></select>
			<select name="fromDay"></select>
			<select name="fromYear"></select>
			<select name="fromHour"></select>
		</div>
		<div id="toDate">
			To:
			<select name="toMonth"></select>
			<select name="toDay"></select>
			<select name="toYear"></select>
			<select name="toHour"></select>
		</div>
		
		
		<div id="continue" class="button"><p>continue...</p></div>
		<div id="loading" class="button"><p>loading...</p></div>
	</form>

</div>