<link rel='stylesheet' href='/stylesheets/calendars.css' />
<script type="text/javascript" charset="utf-8">
	var selectedList = new Array();
	$(function() {
		var d = new Date();
		for(var i=1;i<=12;i++) {
			$("select[name='fromMonth']").append(new Option(i,i));
			$("select[name='toMonth']").append(new Option(i,i));	
		}
		$("select[name='fromMonth']").val(d.getMonth()+1);
		$("select[name='toMonth']").val(d.getMonth()+1);
		
		for(var i=1;i<=31;i++) {
			$("select[name='fromDay']").append(new Option(i,i));
			$("select[name='toDay']").append(new Option(i,i));	
		}
		$("select[name='fromDay']").val(d.getDate());
		$("select[name='toDay']").val(d.getDate());
		
		for(var i=1;i<=12;i++) {
			$("select[name='fromYear']").append(new Option(i,i));
			$("select[name='toYear']").append(new Option(i,i));	
		}
		$("select[name='fromYear']").val(d.getFullYear());
		$("select[name='toYear']").val(d.getFullYear());
		
		for(var i=1;i<=12;i++) {
			$("select[name='fromHour']").append(new Option(i,i));
			$("select[name='toHour']").append(new Option(i,i));	
		}
		$("select[name='fromHour']").val(d.getHours());
		$("select[name='toHour']").val(d.getHours());

		$("#calendarList li").click(function() {
			if (!$(this).hasClass("clicked")) {
				$(this).addClass("clicked");
				selectedList.push($(this).html());
			} else {
				$(this).removeClass("clicked");
				for(var i=selectedList.length-1; i>=0; i--) {
					if (selectedList[i] === $(this).html()) {
						selectedList.splice(i,1);
					}
				}
			}
			console.log(selectedList);
		});
	});
	
</script>
<div id="calendars">
	<h1>Which calendars do you want to get events from?</h1>
	<form action="/googleEventFetch" method="post" accept-charset="utf-8">
		<ul id="calendarList">
			<% for(var i=0; i<list.length; i++) { %>
				<li><%= list[i].title %></li>
			<% } %>
		</ul>
		<div id="fromDate">
			From:
			<select name="fromMonth"></select>
			<select name="fromDay"></select>
			<select name="fromYear"></select>
			<select name="fromHour"></select>
		</div>
		<div id="toDate">
			To:
			<select name="toMonth"></select>
			<select name="toDay"></select>
			<select name="toYear"></select>
			<select name="toHour"></select>
		</div>

		<p><input type="submit" value="Continue &rarr;"></p>
	</form>

</div>