<link rel='stylesheet' href='/stylesheets/events.css' />
<script type='text/javascript' src='/javascript/events.js'></script>
<div id="calendars">
	<h1>Your events!</h1>	
		<ul id="eventList"></ul>
</div>