<!DOCTYPE html>
<html>
	<head>
		<title>Optimize Your Night</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'></script>
		<link rel='stylesheet' href='/stylesheets/events.css' />
		<script type='text/javascript' src='/javascripts/events_test.js'></script>
		<script type='text/javascript' src='/javascripts/events.js'></script>
	</head>
	<body>
		<div id="main">
			<div id="header">
				<p>Optimize Your Night</p>
			</div>
			<div id="content">
				<div id="calendars">
					<h1>Your events!</h1>	
						<ul id="eventList"></ul>
				</div>
			</div>
		</div>
	</body>
</html>