<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'></script>
	<script type="text/javascript" charset="utf-8">
		$((function() {
			var loadUrl = "/<%= page %>";  
			$("#content").load(loadUrl);  
		}).());
	</script>
</head>
<body>
<div id="main">
	<div id="header">
		<p><%= title %></p>
	</div>
	<div id="content">
	</div>
</div>
</body>