<link rel='stylesheet' href='/stylesheets/index.css' />
<script type="text/javascript" charset="utf-8">
	function openGoogleOAuthWindow() {
		googleAuthWin = window.open('/getGoogleRequestToken', 
			'open_window', 
			'status, scrollbars, resizable, dependent, width=640, height=350');
	}
	
	$("#googleOAuthSuccess").click(function() {
		console.log("SUCESSS!");
	});
	
</script>
<h1>Welcome to the app! Click below to sign in.</h1>
<div id="googleOAuthSuccess" style="display: none"></div>
<br>
<a href="javascript:openGoogleOAuthWindow();">Click to sign in with Google Calendar</a>