<!DOCTYPE html>
<html>
	<head>
		<title>Optimize Your Night</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/index.css' />
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'></script>
		<script type='text/javascript' src='/javascripts/index.js'></script>
	</head>
	<body>
		<div id="main">
			<div id="header">
				<p>Optimize Your Night</p>
			</div>
			<div id="content">
				<h1>Welcome to the app! Click below to sign in.</h1>
				<br>
				<a href="javascript:openGoogleOAuthWindow();">Click to sign in with Google Calendar</a>
			</div>
		</div>
	</body>
</html>