#calendarList {
	width: 300px;
}

#calendarList li {
	cursor: pointer;
	font-size: 25px;
	color: black;
	background-color: transparent;
}

#calendarList li.clicked {
	background-color: black;
	color: white;
}

#calendarList li:hover {
	background-color: black;
	color: white;
}

#continue {
	margin-left: auto;
	margin-right: auto;
	background-color: blue;
	color: lightgrey;
	font-size: 8;
	text-align: center;
	vertical-align: middle;
	width: 150px;
	height: 100px;
	outline-style: none;
}

#continue:hover {
	background-color: lightblue;
	color: black;
	outline-style: solid;
	outline-color: black;
	outline-width: 1px;
}