#calendarList {
	width: 300px;
}

#calendarList li {
	font-size: 25px;
	color: black;
	background-color: transparent;
}

/*#calendarList li:hover {
	background-color: darkgrey;
	color: white;
}*/

.clicked {
	background-color: black;
	color: white;
}