#calendarList {
	width: 300px;
}

#calendarList li {
	cursor: pointer;
	font-size: 25px;
	color: black;
	background-color: transparent;
}

#calendarList li.clicked {
	background-color: black;
	color: white;
}

#calendarList li:hover {
	background-color: black;
	color: white;
}

#continue {
	margin-left: auto;
	margin-right: auto;
	background-color: blue;
	color: white;
	font-size: 12;
	text-align: center;
	width: 45px;
	height: 30px;
}

#continue:hover {
	background-color: lightblue;
	color: black;
}