body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#main	{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#header {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0;
	outline-style: solid;
	outline-width: 2px;
}

.centered {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}