body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#main	{
	text-align: center;
}

#header, #load {
	padding: 20px 0;
	outline-style: solid;
	outline-width: 2px;
}

#load {
	width: 200px;
	height: 50px;
	background-color: lightgreen;
	margin-left: auto;
	margin-right: auto;
}

.centered {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}